<div class="container">
<!--   <h1>Pôle <%= @department.name %></h1> -->
  <div class="row col-no-padding padding-top-medium">
    <div class="col-xs-3">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs tabs-left">
          <% @department.projects.each_with_index do |project, index| %>
            <li class="<%= 'active' if index == 0%>">
              <a href="#<%= to_id(project.name.downcase) %>" data-toggle="tab"><%= project.name %></a>
            </li>
          <% end %>
        </ul>
    </div>
    <div class="col-xs-9">
        <!-- Tab panes -->
        <div class="tab-content tab-content-right">
          <% @department.projects.each_with_index do |project, index| %>
            <div class="tab-pane <%= 'active' if index == 0 %>" id="<%= to_id(project.name.downcase) %>">
              <% project.missions.each_with_index do |mission, index| %>
                <%= link_to project_mission_path(project, mission) do %>
                  <div class="card-inline card-inline-mission ">
                    <div class="row">
                      <div class="col-xs-6">
                        <h4><%= mission.title %></h4>
                      </div>
                      <div class="col-xs-6 text-right">
                        <% mission.users.each do |user| %>
                          <%= user.first_name %>
                        <% end %>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12">
                        <div class="card-mission-description text-justify">
                          <%= simple_format(mission.description) %>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-6">
                        <%= pluralize(mission.milestones.count, 'mise') %> à jour
                      </div>
                      <div class="col-xs-6 text-right">
                        <%= t(mission.deadline.strftime('%A')) + mission.deadline.strftime(' %d ') + t(mission.deadline.strftime('%B')) %>
                        à <%= mission.deadline.strftime('%Hh%M') %>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
              <div class="text-center padding-left-small">
                <%= link_to "Créer une mission pour le projet #{project.name.downcase}", new_project_mission_path(project), class: "btn btn-primary" %>
              </div>
            </div>
          <% end %>
        </div>
    </div>
  </div>
</div>
