<h1>Nouvelle mission pour le projet : <%= @mission.project.name %></h1>

<%= simple_form_for [:project, @mission] do |f| %>
  <%= f.input :title %>
  <%= f.input :deadline %>
  <%= f.button :submit %>
<% end %>
